html {
    scroll-behavior: smooth;
  }

.overall-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 15px;

}

/*-------------------------------------------------navbar*/

header {
    background-color: ##ffc045;
}

.navcontainer {
    text-align: center;
}

.line-divider {
    height: 1px;
    background-color: black;
    width: 100%;
}

.menu-blocks {
    margin: 10px;
    text-align: center;
}

.menu-item {
    background-color: #ffc045;
    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:  #065371;
    text-transform: capitalize;
    letter-spacing: 8px;
    transition: all .5s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    text-decoration: none !important;
}

.menu-item i {
    font-size: 15px;
    opacity: 0.8;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}



.menu-item:hover {
    color: #ffe6b5 !important;
    opacity: 0.8;
    transform: scale(1.1);
    text-shadow: -7px 6px 10px #000000;
    text-decoration: none !important;
}



.navbar {
    text-align: center;
    padding: 0px;
    background-color: git push;
    width: 100%;
}

/*---------------------------------------------------------body*/

body {
    background-color: #065371;
}

/*-------------------------------------------homepage*/

.home {
    min-height: 100vh;
    text-align: center;
}

.banner{
    margin: 50px;
    text-align: center;
    display: inline-block;
    position: relative;
    text-align: center;
    
}

.cool-logo {
    filter: drop-shadow(0 0 10px #000);
    margin: 50px;
}

.logo {
    font-size: 35px;
    color: #ffc045;
    text-align: center;
    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    letter-spacing: 12px;
    text-shadow: -5px 3px 6px #000000;
    -webkit-text-stroke: 0.5px black;
    transition: all .5s ease-in-out;
    -moz-transition: all .5 ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.logo-subtext {
    border-top: 1px solid #ffc045;
    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffc045;
    text-shadow: -5px 3px 6px #000000;
    text-transform: capitalize;
    letter-spacing: 10px;
    padding: 10px;
}
/*---------------------------------------------------------about me*/

.about-me {
    min-height: 100vh; 
    background-color: #f7f6f4d1;
    text-align: center;
}

.about-me-text {
    margin-top: 20px;
    font-family: 'Staatliches', sans-serif;
    font-weight: 100;
    font-size: 25px;
}

.profilepic {
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 10px #000);
    opacity: 0.9;
    max-width: 60%;
    height: auto;
/*    margin: 50px; */
}


/*---------------------------------------------------------resume*/

.resume {
    min-height: 100vh; 
    background-color: #ffffff;
    object-fit: fill;
}

.page-title-resume {
    margin-top: 30px;
    font-size: 35px;
    color: #065371;
    text-align: center;
    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    letter-spacing: 12px;
    -webkit-text-stroke: 0.5px black;
    transition: all .5s ease-in-out;
    -moz-transition: all .5 ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.collapse-container {
    margin: 40px;
}

.collapse-bar {
    text-align: center;
    background-color: #065371;
}
.card-header-style {
    background-color: #065371;
}

.make-it.fit {
    object-fit: fill;
}

.experience {
    padding-left: 10px;
}


/*---------------------------------------------------------portfolio*/

.portfolio {
    min-height: 100vh; 
}

.page-title-portfolio {
    margin-top: 30px;
    font-size: 35px;
    color: #ffc045;
    text-align: center;
    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    letter-spacing: 12px;
    -webkit-text-stroke: 0.5px black;
    transition: all .5s ease-in-out;
    -moz-transition: all .5 ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.cards-container {
    margin: 30px;
    text-align: center;
}

.card-portfolio {
    margin: 20px;
    display: inline-block;
}

.card-images {
    max-height: 129px;
}

/*---------------------------------------------------------contact*/

.contact {
    min-height: 100vh; 
    background-color: #f7f6f4d1;
}

.card-contact {
    margin: 20px;
    display: inline-block;
    scale: 1.5;
}

.card-head {
    background-color: #ffc045;
    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:  #065371;
    text-transform: capitalize;
    letter-spacing: 8px;
    transition: all .5s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    text-decoration: none !important;
}

.contact-icons {
    font-size: 25px;
    color: #065371;
    margin: 5px;
}

.icon-holder {
    margin: 51px 0px 16px 0px;
}


/*---------------------------------------------------------footer*/
.footer {
    position: relative;
    bottom: 0px;
    background-color: rgb(40, 40, 40);
    min-height: 100px;
    color: white;   
}

.footer-text {
    margin: 10px;
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    text-decoration: none !important;
    color: #ffc045;
}
